{
	"openapi": "3.0.1",
	"info": {
		"title": "Easee Cloud API",
		"description": "Find more information and documentation at <br/> <a href='https://developer.easee.cloud'>https://developer.easee.cloud</a>",
		"version": "v1"
	},
	"servers": [
		{
			"url": "https://api.easee.cloud"
		},
		{
			"url": "https://api.easee.cloud"
		}
	],
	"paths": {
		"/api/accounts/login": {
			"post": {
				"tags": [
					"Account"
				],
				"summary": "Authentication",
				"description": "Authenticate and retrieve access Token.",
				"requestBody": {
					"description": "Username and password",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.LoginDto"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.LoginDto"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.LoginDto"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.LoginDto"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.UserAdministration.DTO.UserToken"
								}
							}
						}
					}
				}
			}
		},
		"/api/accounts/refresh_token": {
			"post": {
				"tags": [
					"Account"
				],
				"summary": "Refresh Token",
				"description": "Refresh access token.",
				"requestBody": {
					"description": "Access token and refresh token",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.RefreshTokenDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.RefreshTokenDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.RefreshTokenDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.RefreshTokenDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.UserAdministration.DTO.UserToken"
								}
							}
						}
					}
				}
			}
		},
		"/api/accounts/{accountId}/invalidate_token": {
			"delete": {
				"tags": [
					"Account"
				],
				"summary": "Invalidate refresh token",
				"parameters": [
					{
						"name": "accountId",
						"in": "path",
						"description": "The id for which the token belongs",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "token",
						"in": "query",
						"description": "Optional. Token to invalidate. If not present, all tokens for the accountId will be invalidated",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/accounts/profile": {
			"get": {
				"tags": [
					"Account"
				],
				"summary": "Profile Info",
				"description": "Get profile info of logged in account.",
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Account.ProfileDTO"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/accounts/products": {
			"get": {
				"tags": [
					"Account"
				],
				"summary": "Products",
				"description": "Get products of logged in account. Product can be either charger or equalizer.",
				"parameters": [
					{
						"name": "userId",
						"in": "query",
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.AccessControl.Domain.DTO.SiteDTO"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/accounts/chargers": {
			"get": {
				"tags": [
					"Account"
				],
				"summary": "Chargers",
				"description": "Replaced with products endpoint.",
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.AccessControl.Domain.DTO.SiteDTO"
									}
								}
							}
						}
					}
				},
				"deprecated": true
			},
			"post": {
				"tags": [
					"Account"
				],
				"summary": "Add Charger",
				"description": "Replaced with products endpoint.",
				"requestBody": {
					"description": "Charger/equalizer PIN code details.",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.ProductPinDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.ProductPinDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.ProductPinDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.ProductPinDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				},
				"deprecated": true
			}
		},
		"/api/accounts/chargers/{serial_no}": {
			"delete": {
				"tags": [
					"Account"
				],
				"summary": "Remove Charger",
				"description": "Replaced with products endpoint.",
				"parameters": [
					{
						"name": "serial_no",
						"in": "path",
						"description": "Charger/equalizer identifier",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				},
				"deprecated": true
			}
		},
		"/api/chargers/{id}/pair": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Pair",
				"description": "Pair a charger to an account.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pinCode",
						"in": "query",
						"description": "Charger PIN",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/chargers/{id}/unpair": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Unpair",
				"description": "Unpair a charger from an account.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pinCode",
						"in": "query",
						"description": "Charger PIN",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/chargers/{id}/partners": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Set Partner",
				"description": "Set partner of a charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Partner ID",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.PairChargerPartnerDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.PairChargerPartnerDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.PairChargerPartnerDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.PairChargerPartnerDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			},
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Partner",
				"description": "Get partner of charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.AccessControl.Models.PartnerDetailedDTO"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/partners/{partnerId}": {
			"delete": {
				"tags": [
					"Charger"
				],
				"summary": "Remove Partner",
				"description": "Remove partner from a charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "partnerId",
						"in": "path",
						"description": "Partner ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/chargers/{id}/permission": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Grant Charger Access",
				"description": "Grant permissions to the charger for a given phone number.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "User phone number",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.ChargerPermissionRequestDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.ChargerPermissionRequestDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.ChargerPermissionRequestDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.ChargerPermissionRequestDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			},
			"delete": {
				"tags": [
					"Charger"
				],
				"summary": "Remove Charger Access",
				"description": "Remove permission from the charger for a given phone number.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "phone_no",
						"in": "query",
						"description": "Phone number",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "email",
						"in": "query",
						"description": "Email",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			},
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Permissions",
				"description": "Get permissions to the charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.AccessControl.Domain.DTO.UserChargerDTO"
									}
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/accept": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Accept Invitation",
				"description": "Accept user invitation to access a charger.",
				"parameters": [
					{
						"name": "email",
						"in": "query",
						"description": "Charger user permission invitation acceptance token",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "invitation_id",
						"in": "query",
						"description": "Charger user permission invitation acceptance invitation_id",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/chargers/{id}/access": {
			"put": {
				"tags": [
					"Charger"
				],
				"summary": "Set Charger Access",
				"description": "Set access level to the charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Access level",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.LevelOfAccess"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.LevelOfAccess"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.LevelOfAccess"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.LevelOfAccess"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			},
			"delete": {
				"tags": [
					"Charger"
				],
				"summary": "Remove Charger Access",
				"description": "Delete access level from the charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/health": {
			"get": {
				"tags": [
					"Health",
					"Health"
				],
				"summary": "Health",
				"description": "Get API health. Mostly used by load balancer.",
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/sites/{siteId}/owner": {
			"post": {
				"tags": [
					"Site"
				],
				"summary": "Change Site Owner",
				"description": "Change site owner (Global Admin, Partner Admin or Site Owner).",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"description": "New Owner",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SiteOwnerDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SiteOwnerDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SiteOwnerDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SiteOwnerDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sites/{siteId}/siteGroups": {
			"get": {
				"tags": [
					"Site"
				],
				"summary": "Site Groups",
				"description": "Get site groups for a site.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Partners.Domain.Entities.PartnerSiteGroup"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/sites/{siteId}/users": {
			"get": {
				"tags": [
					"Site"
				],
				"summary": "Users",
				"description": "Get all users for a site with permissions.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.UserAdministration.Domain.DTO.SitePermissionDTO"
								}
							}
						}
					}
				}
			}
		},
		"/api/sites/{siteId}/lookup_user": {
			"get": {
				"tags": [
					"Site"
				],
				"summary": "User to Invite",
				"description": "Get user by phone number to invite to site. (Site Admin)",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "phone_no",
						"in": "query",
						"description": "Send invite to phone no",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.UserAdministration.Domain.DTO.BasicProfile"
								}
							}
						}
					}
				}
			}
		},
		"/api/sites/{siteId}/lookup_admin": {
			"get": {
				"tags": [
					"Site"
				],
				"summary": "Get User to Invite as Admin",
				"description": "Get user by phone number to invite to the site as administrator. (Site Admin)",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "phone_no",
						"in": "query",
						"description": "Send invite to phone no",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.UserAdministration.Domain.DTO.BasicProfile"
								}
							}
						}
					}
				}
			}
		},
		"/api/sites/{siteId}/invite": {
			"post": {
				"tags": [
					"Site"
				],
				"summary": "Send Site Invitation",
				"description": "Send site invitation to user for access to the site.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"description": "Invitation Request with user phone number and role",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SitePermissionRequestDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SitePermissionRequestDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SitePermissionRequestDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SitePermissionRequestDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/sites/{siteId}/reinvite": {
			"post": {
				"tags": [
					"Site"
				],
				"summary": "Resend Site Invitation",
				"description": "Resend site invitation to user for access to the site.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"description": "site permisssion reinvite request",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SitePermissionRequestDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SitePermissionRequestDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SitePermissionRequestDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.AccessControl.Models.SitePermissionRequestDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/sites/accept": {
			"post": {
				"tags": [
					"Site"
				],
				"summary": "Accept Site Invitation",
				"description": "Accept site invitation for access to the site.",
				"parameters": [
					{
						"name": "email",
						"in": "query",
						"description": "Site user permission invitation acceptance token",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Site user permission invitation acceptance token",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "string"
							}
						},
						"application/json": {
							"schema": {
								"type": "string"
							}
						},
						"text/json": {
							"schema": {
								"type": "string"
							}
						},
						"application/*+json": {
							"schema": {
								"type": "string"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/sites/{siteId}/permission": {
			"delete": {
				"tags": [
					"Site"
				],
				"summary": "Delete Site Permission",
				"description": "Delete user permission for a site.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "phone_no",
						"in": "query",
						"description": "User Phone Number",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "email",
						"in": "query",
						"description": "user email",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			},
			"put": {
				"tags": [
					"Site"
				],
				"summary": "Updates a site user's permissions",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"description": "",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Site.UpdateSitePermissionRequestDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Site.UpdateSitePermissionRequestDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Site.UpdateSitePermissionRequestDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Site.UpdateSitePermissionRequestDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/sites/{siteId}/access": {
			"put": {
				"tags": [
					"Site"
				],
				"summary": "Access Level - All Chargers",
				"description": "Set access level for all chargers on a site.<br /> Access Level can be Everyone, Registered Users og White\r\nListed Users.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"description": "Access level",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.LevelOfAccess"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.LevelOfAccess"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.LevelOfAccess"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.LevelOfAccess"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/sites/{siteId}/chargers/level_of_access": {
			"put": {
				"tags": [
					"Site"
				],
				"summary": "Access Level - Chargers",
				"description": "Set or delete access level for specified chargers.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"description": "Chargers with Access Level",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Site.ChargerAccessDTO"
								}
							}
						},
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Site.ChargerAccessDTO"
								}
							}
						},
						"text/json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Site.ChargerAccessDTO"
								}
							}
						},
						"application/*+json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Site.ChargerAccessDTO"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/sites/{siteId}/request_access": {
			"post": {
				"tags": [
					"Site"
				],
				"summary": "Request site access by logged in user(installer)",
				"description": "Request site access by logged in user(installer) and send email to the site owner.\r\nRate limited at max 5 request per 30 minutes.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"description": "Site permission (allowed only admin or user)",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.SiteUserRole"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.SiteUserRole"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.SiteUserRole"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.Enums.SiteUserRole"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/access/token": {
			"post": {
				"tags": [
					"Token"
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"required": [
									"resource"
								],
								"type": "object",
								"properties": {
									"resource": {
										"type": "string"
									}
								}
							},
							"encoding": {
								"resource": {
									"style": "form"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/api/chargers": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Chargers",
				"description": "Get chargers.<br />If role is Partner, all partner chargers will be returned.<br />If role is User, the users\r\nchargers will be returned.<br />Rate limited: Rate limited at max 2 requests per minute",
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.BasicChargerDTO"
									}
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Charger",
				"description": "Get a specified charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerDTO"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/details": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Charger Details",
				"description": "Get charger details.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerInfoDTO"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/site": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Site",
				"description": "Get charger site.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.SiteStructure.Domain.Ports.SiteDTO"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/config": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Get Configuration",
				"description": "Get charger configuration.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerConfigurationDTO"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/state": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "State",
				"description": "Get charger state.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerStateDTO"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/usage/hourly/{from}/{to}": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Power Usage",
				"description": "Get hourly power usage for a given period.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.AggregatedUsageDTO"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/errors/{from}/{to}": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Errors",
				"description": "Get errors for a given period.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Masterloop.Core.Types.Observations.Observation"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/observations/{observationId}/{from}/{to}": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Observations",
				"description": "Get observations for a given period.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					},
					{
						"name": "observationId",
						"in": "path",
						"description": "Observation ID",
						"required": true,
						"schema": {
							"type": "integer",
							"description": "Observation ID",
							"format": "int32"
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Masterloop.Core.Types.Observations.Observation"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/comments": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Comments",
				"description": "Get user comments for a charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.CommentDTO"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/log_events/{logType}/{from}/{to}": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Log Events",
				"description": "Get log events in a given period.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					},
					{
						"name": "logType",
						"in": "path",
						"description": "Log type",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Easee.Core.Enums.LogType"
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From timestamp (ISO8601 string)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From timestamp (ISO8601 string)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To timestamp (ISO8601 string)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To timestamp (ISO8601 string)",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerLogEventDTO"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/basic_charge_plan": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Basic Charge Plan",
				"description": "Get basic charge plan of charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargePlanDTO"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Set Basic Charge Plan",
				"description": "Set basic charge plan of charger. IsEnabled attribute allow to IsEnabled the charge plan",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"requestBody": {
					"description": "Charge plan",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargePlanDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargePlanDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargePlanDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargePlanDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "All commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			},
			"delete": {
				"tags": [
					"Charger"
				],
				"summary": "Delete Basic Charge Plan",
				"description": "Delete basic charge plan of charger.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "All commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/weekly_charge_plan": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Weekly Charge Plan",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.WeeklyChargeScheduleResponseDTO"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Set Weekly Charge Plan",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"requestBody": {
					"description": "Weekly charge plan details",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.WeeklyChargeScheduleRequestDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.WeeklyChargeScheduleRequestDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.WeeklyChargeScheduleRequestDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.WeeklyChargeScheduleRequestDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "All commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			},
			"delete": {
				"tags": [
					"Charger"
				],
				"summary": "Remove Weekly Charge Plan",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "All commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/charge_schedule/features": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Turn on or off charge schedule features.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "charger id",
						"required": true,
						"schema": {
							"type": "string",
							"description": "charger id",
							"nullable": true
						}
					}
				],
				"requestBody": {
					"description": "charge schedule feature request",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.ScheduleFeatureRequestDto"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.ScheduleFeatureRequestDto"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.ScheduleFeatureRequestDto"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Schedule.ScheduleFeatureRequestDto"
							}
						}
					}
				},
				"responses": {
					"202": {
						"description": "All commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/settings": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Change Charger Settings",
				"description": "Charger settings to update. Please only specify keys you want to change. Endpoint handles partial JSON objects\r\nand will give a 400 response if it does not understand the request.<br />Will only forward commands to device if\r\nnew value != old value <br /> Rate limited at max 20 requests per minute.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"requestBody": {
					"description": "Charger settings to set",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerSettingDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerSettingDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerSettingDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ChargerSettingDTO"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "All commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/lock_state": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Set Cable Lock State",
				"description": "If state = true, cable always locked in charger. state = false, cable is unlocked when car is disconnected",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"requestBody": {
					"description": "Cable lock state",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.LockStateDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.LockStateDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.LockStateDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.LockStateDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub\r\nand match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/poll_lifetimeenergy": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Polls for a new Energy Reading",
				"description": "Rate limited to once every 3 minutes",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub\r\nand match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/poll_chargeropmode": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Polls for a new Charger Op Mode",
				"description": "Rate limited to once every 3 minutes",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub\r\nand match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/reboot": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Reboot",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Command successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub and\r\nmatch command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/update_firmware": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Update Firmware",
				"description": "Updates firmware to latest public release",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "All commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/smart_charging": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Enable Smart Charging",
				"description": "Disable by using the 'settings' endpoint",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Command successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub and\r\nmatch command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/start_charging": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Start Charging",
				"description": "Allows a charger with 'authorizationRequired' = true to deliver power. Otherwise it will have no effect",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Command successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub and\r\nmatch command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/stop_charging": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Stop Charging",
				"description": "Stops a charger with an active authorization from delivering power and revokes authorization. Will have no\r\neffect if 'authorizationRequired' is false or charger is not authorized",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Command successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub and\r\nmatch command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/pause_charging": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Pause Charging",
				"description": "Pauses current charging session but keeps authorization. Limits dynamic charger current to 0. <br />Reset on\r\non new car connection",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Command successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub and\r\nmatch command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/resume_charging": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Resume Charging",
				"description": "Resumes current charging session. Resets output current limit set in dynamic charger current",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Command successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub and\r\nmatch command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/toggle_charging": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Toggle Charging",
				"description": "Send charging command (Start/Stop or Pause/Resume). For chargers requiring online authorization, start/stop\r\ncommands are used. <br />For chargers without online authorization,  pause/resume commands are used.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub\r\nand match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/override_schedule": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Override Charging Schedule",
				"description": "Allows current session to charge immediately provided that schedule is the only mechanism stopping charge\r\ncurrently.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Command successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub and\r\nmatch command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/scan_wifi": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Scan Wi-Fi",
				"description": "Sends a Wi-Fi scan command to the charger. Result available in SignalR command responses and observations.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"requestBody": {
					"description": "Limits the time spent by firmware to scan",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ScanWifiSettingDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ScanWifiSettingDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ScanWifiSettingDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.ScanWifiSettingDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Command successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\" hub and\r\nmatch command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/set_wifi_config": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Set Wi-Fi Configuration",
				"description": "Sends Wi-Fi configuration to the charger. The charger may be unavailable up to 1 hour if incorrect values are\r\nset in firmware",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"requestBody": {
					"description": "SSID and Password",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.WifiConfigDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.WifiConfigDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.WifiConfigDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.WifiConfigDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "Configuration successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/commands/set_rfid_pairing_mode_async": {
			"post": {
				"tags": [
					"Charger"
				],
				"summary": "Pair RFID Tag",
				"description": "Pair new RFID tag with charger. Listen to the \"CommandResponse\" stream and observation '69:PairedUserIDToken'\r\nto get the new token as read by the charger",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"requestBody": {
					"description": "Pair RFID settings",
					"content": {
						"application/json-patch+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.PairRFIDSettingsDTO"
							}
						},
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.PairRFIDSettingsDTO"
							}
						},
						"text/json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.PairRFIDSettingsDTO"
							}
						},
						"application/*+json": {
							"schema": {
								"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.PairRFIDSettingsDTO"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success"
					},
					"202": {
						"description": "All commands successfully sent to charger. See \"CommandResponse\" SignalR method from \"Products\"\r\nhub and match command responses to the details returned response body"
					},
					"400": {
						"description": "Request has missing/invalid values"
					},
					"401": {
						"description": "Missing authorization data. Check \"Authorization\" header"
					},
					"403": {
						"description": "Forbidden. Authorization set, but access to resource is denied"
					},
					"500": {
						"description": "Oops! Unexpected internal error. Request has been logged and code monkeys warned"
					},
					"503": {
						"description": "Server gateway cannot reach API. Try again in about a minute..."
					},
					"504": {
						"description": "Unable to deliver commands upstream. End device is not reachable, or a problem with queueing the\r\ndevice command"
					}
				}
			}
		},
		"/api/chargers/{id}/sessions/latest": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Latest Charging Session",
				"description": "Get last updated charging session.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.UsageStatisticsDTO"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/chargers/{id}/sessions/ongoing": {
			"get": {
				"tags": [
					"Charger"
				],
				"summary": "Ongoing Charging Session",
				"description": "Get current state of ongoing charging session.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Easee.Core.DTOs.Charger.UsageStatisticsDTO"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/user/{id}/total/{from}/{to}": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "User Power Usage",
				"description": "Get power usage (kWh/amount) for a user for a specific period. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "User ID",
						"required": true,
						"schema": {
							"type": "integer",
							"description": "User ID",
							"format": "int32"
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "number",
									"format": "double"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/user/{id}/sessions/{from}/{to}": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "User Sessions",
				"description": "Get charging sessions for a user for a specific period. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "User ID",
						"required": true,
						"schema": {
							"type": "integer",
							"description": "User ID",
							"format": "int32"
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.ChargeSessionDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/user/{id}/yearly": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "User Sessions - Yearly",
				"description": "Get yearly charging sessions for a user. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "User ID",
						"required": true,
						"schema": {
							"type": "integer",
							"description": "User ID",
							"format": "int32"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.YearlySummaryDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/user/{id}/monthly": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "User Sessions - Monthly",
				"description": "Get monthly charging sessions for a user. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "User ID",
						"required": true,
						"schema": {
							"type": "integer",
							"description": "User ID",
							"format": "int32"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.MonthlySummaryDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/user/{id}/weekly": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "User Sessions - Weekly",
				"description": "Get weekly charging sessions for a user. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "User Id",
						"required": true,
						"schema": {
							"type": "integer",
							"description": "User Id",
							"format": "int32"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.WeeklySummaryDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/user/{id}/breakdown/{from}/{to}": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "User Sessions - Grouped by Charger",
				"description": "Get charging sessions grouped by chargers for a user. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "User ID",
						"required": true,
						"schema": {
							"type": "integer",
							"description": "User ID",
							"format": "int32"
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.ChargingSessionDetailDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/charger/{chargerId}/total/{from}/{to}": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "Charger Power Usage",
				"description": "Get power usage (kWh/amount) for a charger for a specific period.",
				"parameters": [
					{
						"name": "chargerId",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "number",
									"format": "double"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/charger/{chargerId}/sessions/{from}/{to}": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "Charger Sessions",
				"description": "Get charging sessions for a charger for a specific period. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "chargerId",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "rfidKeys",
						"in": "query",
						"description": "",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							},
							"description": "",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.ChargeSessionDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/charger/{chargerId}/monthly": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "Charger Sessions - Monthly",
				"description": "Get monthly charging sessions for a charger. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "chargerId",
						"in": "path",
						"description": "Charger ID",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger ID",
							"nullable": true
						}
					},
					{
						"name": "rfidKeys",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							},
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.MonthlySummaryDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/charger/{chargerId}/yearly": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "Charger Sessions - Yearly",
				"description": "Get Yearly charging sessions for a charger. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "chargerId",
						"in": "path",
						"description": "Charger Id",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger Id",
							"nullable": true
						}
					},
					{
						"name": "rfidKeys",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							},
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.YearlySummaryDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/charger/{chargerId}/daily": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "Charger Sessions - Daily",
				"description": "Get Daily charging sessions for a charger. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "chargerId",
						"in": "path",
						"description": "Charger Id",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger Id",
							"nullable": true
						}
					},
					{
						"name": "rfidKeys",
						"in": "query",
						"description": "",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							},
							"description": "",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.DailySummaryDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/charger/{chargerId}/hourly": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "Charger Sessions - Hourly",
				"description": "Get Hourly charging sessions for a charger. Rate limited at max 20 requests per 10 minutes.",
				"parameters": [
					{
						"name": "chargerId",
						"in": "path",
						"description": "Charger Id",
						"required": true,
						"schema": {
							"type": "string",
							"description": "Charger Id",
							"nullable": true
						}
					},
					{
						"name": "rfidKeys",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							},
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Easee.Core.DTOs.Session.HourlySummaryDTO"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
								}
							}
						}
					}
				}
			}
		},
		"/api/sessions/export/{siteId}/{category}/{from}/{to}": {
			"get": {
				"tags": [
					"ChargeSession"
				],
				"summary": "Site Consumption Report",
				"description": "Get site consumption report.",
				"parameters": [
					{
						"name": "siteId",
						"in": "path",
						"description": "Site ID",
						"required": true,
						"schema": {
							"type": "integer",
							"description": "Site ID",
							"format": "int32"
						}
					},
					{
						"name": "category",
						"in": "path",
						"description": "Report Type",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Easee.Core.Enums.ReportCategory"
						}
					},
					{
						"name": "from",
						"in": "path",
						"description": "From (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "From (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "to",
						"in": "path",
						"description": "To (ISO8601 datetime)",
						"required": true,
						"schema": {
							"type": "string",
							"description": "To (ISO8601 datetime)",
							"format": "date-time"
						}
					},
					{
						"name": "chargerId",
						"in": "query",
						"description": "",
						"schema": {
							"type": "string",
							"description": "",
							"nullable": true
						}
					},
					{
						"name": "rfidKeys",
						"in": "query",
						"description": "",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							},
							"description": "",
							"nullable": true
						}
					},
					{
						"name": "tz",
						"in": "query",
						"schema": {
							"type": "string",
							"nullable": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
[...]
